/* COLORS */
$gold: #F2B235;

$facebookColor: #3b5998;
$instagramGradient: linear-gradient(29deg, rgba(251,211,119,1) 0%, rgba(250,142,55,1) 21%, rgba(247,51,68,1) 47%, rgba(201,43,183,1) 69%, rgba(65,117,255,1) 100%);